{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"@common": "./src/common",
					"@domain": "./src/domain",
					"@infra": "./src/infra",
					"@presentation": "./src/presentation",
					"@usecase": "./src/usecase"
				}
			}
		],
		"@babel/plugin-transform-class-properties",
		"@babel/plugin-transform-object-rest-spread"
	]
}
